 /* this is goole font */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Dots&display=swap'); 

 *{
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
 }
.header-box{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  
  
}
.header-box h1{
    color: aliceblue;
    padding:12px 40px 500px ;
    transition: all 3.2s;
    
}
/* this  is footer-site */
.footer-site{
  
}
.footer-site-item{
   display: flex;
   flex-direction: column;
   color: aliceblue;
   margin-bottom:30px;
}
.footer-site-item a{
  color: aliceblue;
  text-decoration: none;
  padding-top:10px;
  font-size:300;
  
}